# Python junk
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/

# MT artifacts (HUGE / generated)
raw_models/
ct2_models/
registry.tsv
